.logo {
  width: 128px;
  position: relative;
  height: 128px;
  display: flex;
  justify-self: flex-start;
}
.logo svg {
  width: 128px;
}

.moji {
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 46px;
  height: 46px;
  background-size: cover;
  background-repeat: no-repeat;
}
