@import "../../style/helpers.scss";

.day {
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border-radius: 50%;
  border: none;
  color: #474b4e;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  height: 40px;
  justify-content: center;
  outline: none;
  position: relative;
  width: 40px;
  background-clip: padding-box;
  background-size: 30px;
  overflow: visible;
  &:focus {
    background-color: rgba(29, 233, 182, 0.3);
  }
}

.today {
  font-weight: bold;
  text-decoration: underline;
}

.selected,
.selected:focus {
  background-color: #1de9b6;
  border: 4px solid rgba(29, 233, 182, 0.3);
}

.feeling {
  background-position: center;
  background-repeat: no-repeat;
  span {
    font-size: 9px;
    left: -6px;
    opacity: 0.7;
    position: absolute;
    top: -6px;
  }
}
