// refactor from CSS to Scss
@import "../../style/helpers.scss";

button.day {
  border-radius: 50%;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}
button:disabled,
button[disabled] {
  opacity: 0.2;
}
.day {
  position: relative;
  width: 38px;
  height: 38px;
  color: #474b4e;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  &:before {
    content: "";
    width: 52px;
    height: 52px;
    background: #1de9b6;
    opacity: 0;
    position: absolute;
    display: block;
    border-radius: 50%;
  }
  &.today {
    font-weight: bold;
    text-decoration: underline;
  }
  &.selected {
    background: #1de9b6;
    &:before {
      opacity: 0.3;
    }
  }
  .feeling {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  &:focus {
    outline: none;
    &:before {
      opacity: 0.3;
    }
  }
  span {
    position: relative;
    z-index: 999;
  }
  &.hasFeeling {
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    span {
      position: absolute;
      font-size: 9px;
      top: -6px;
      left: -6px;
      opacity: 0.7;
    }
  }
}
