.home {
  padding: 100px 20px 56px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.auth {
  width: 100%;
  max-width: 300px;
}
