.pageHeader {
  width: 100%;
  flex: 0 0 70px;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: row;
  align-items: center;
  .menu {
    width: 120px;
    background-image: url("../../assets/menu.svg");
    background-position: 20px center;
    background-color: #ff5722;
    background-repeat: no-repeat;
    border: none;
    height: 70px;
  }
  select {
    padding-left: 10px;
    background-image: url("../../assets/Drop.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 5px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    color: #474b4e;
    border: none;
    padding-right: 14px;
    height: 70px;
  }
  select::-ms-expand {
    display: none;
  }
  .quickAction {
    margin-left: auto;
    width: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
  }
}
