.pageHeader {
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: header;
  height: 70px;
  .menu {
    width: 120px;
    background-image: url("../../assets/menu.svg");
    background-position: 20px center;
    background-color: #ff5722;
    background-repeat: no-repeat;
    border: none;
    height: 70px;
  }

  .quickAction {
    margin-left: auto;
    width: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
  }
}
