button.day {
  border: none;
  outline: none;
  background-color: transparent;
}
.day {
  &:focus,
  &:active {
    outline: 1px dashed #fe5196;
  }
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../../assets/circle.svg");
  background-position: center;
  background-size: 42px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.selected {
    outline: none;
    background-image: linear-gradient(-45deg, #f77062 0%, #fe5196 100%);
    background-size: 42px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: #fff;
  }
  &.today {
    font-weight: bold;
    background-size: 42px;
    border-radius: 40px;
    color: #f77062;
  }
}
