button.day {
  border: none;
  outline: none;
}
button:disabled,
button[disabled] {
  opacity: 0.5;
}
.day {
  &:focus,
  &:active {
    outline: 1px dashed #fe5196;
  }
  position: relative;
  width: 42px;
  height: 42px;
  background-image: url("../../assets/circle.svg");
  background-position: center;
  background-size: 42px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  &.selected {
    outline: none;
    background-image: linear-gradient(-45deg, #f77062 0%, #fe5196 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: #fff !important;
  }
  &.today {
    font-weight: bold;
    background-size: 40px;
    border-radius: 40px;
    color: #f77062;
  }
  &.hasFeeling {
    &.selected {
      color: #f77062 !important;
      background-size: 40px;
    }
  }
  &.hasFeeling {
    border-radius: 0px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    span {
      position: absolute;
      font-size: 11px;
      top: -7px;
      left: -7px;
      opacity: 0.7;
    }
  }
}
