// refactor from CSS to Scss
@import "../../style/helpers.scss";

button.day {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
}
button:disabled,
button[disabled] {
  opacity: 0.2;
}
.day {
  &:focus,
  &:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  position: relative;
  width: 42px;
  height: 42px;
  @include breakpoint(xs) {
    width: 32px;
    height: 32px;
  }
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  &.selected {
    outline: none;
    background-image: linear-gradient(-45deg, #f77062 0%, #fe5196 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: #fff !important;
    &:focus,
    &:active {
      border: none;
    }
  }
  &.today {
    font-weight: bold;
    color: #f77062;
  }
  &.hasFeeling {
    &.selected {
      color: #f77062 !important;
      background-size: 40px;
    }
  }
  &.hasFeeling {
    border-radius: 0px;
    background-size: 40px;
    @include breakpoint(xs) {
      background-size: 30px;
    }
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    span {
      position: absolute;
      font-size: 9px;
      top: -6px;
      left: -6px;
      opacity: 0.7;
    }
  }
}
