.emojiGrid {
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 45px);
  justify-content: center;
  grid-gap: 5px;
  display: grid;
  border-radius: 1px;
  z-index: 99;
  button {
    background: transparent;
    border: none;
    background-size: 35px;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
  }
  .lock {
    background-color: #ff5722;
    background-image: url("../../assets/Lock.svg");
    width: 36px;
    height: 36px;
    background-size: 12px;
    background-position: center;
    border-radius: 50%;
  }
}
