@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  background: #232627;
  position: relative;
  overflow: hidden;
}
