.gallery {
  width: 100%;
  min-height: 100%;
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(25px);
  &.loaded {
    filter: none;
  }
}
