.gallery {
  display: flex;
  flex: 1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(25px);
  &.loaded {
    filter: none;
  }
}
