// refactor from CSS to Scss
@import "../../style/helpers.scss";
.calendar {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "top" "bottom";
  grid-template-rows: auto 1fr 350px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include lg {
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "top bottom";
  }
}

.top {
  grid-area: top;
  position: relative;
  display: grid;
  @include lg {
    padding: 10px 0px 10px 10px;
    justify-items: end;
  }
}

.bottom {
  grid-area: bottom;
  padding: 10px 0px 10px 10px;
  @include lg {
    display: grid;
    justify-items: start;
  }
  .calendarWindow {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include xs {
    grid-gap: 5px;
  }

  @include sm {
    grid-gap: 10px;
  }

  @include md {
    grid-gap: 15px;
  }
}
