// refactor from CSS to Scss
@import "../../style/helpers.scss";
.calendar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 800px;
  .slider {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform 0.2s linear;
    position: relative;
    z-index: 800;
    &.slide {
      transform: translateY(-70px);
    }
  }
  .paddedCalendar {
    position: relative;
    z-index: 99;
    padding: 10px;
    @include breakpoint(md) {
      padding: 15px;
    }
  }
}
