// refactor from CSS to Scss
@import "../../style/helpers.scss";

.calendar {
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 800px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  .paddedCalendar {
    position: relative;
    z-index: 99;
    padding: 0px 10px;
    @include breakpoint(md) {
      padding: 0px 15px;
    }
  }
}
