// refactor from CSS to Scss
@import "../../style/helpers.scss";
.calendar {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bottom {
  width: 100%;
  max-width: 800px;
  height: 380px;
  padding: 10px;
  justify-content: center;
  background: #fff;
  background-clip: content-box;
  overflow: hidden;
}

.top {
  flex: 1 1 20px;
}
