.footer {
  width: 100%;
  background: #474b4e;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
  font-size: 0;
  display: flex;
  flex: 0 0 80px;
  position: relative;
  z-index: 9;
  &:before {
    content: "";
    height: 10px;
    top: -10px;
    width: 100%;
    position: absolute;
    background: #474b4e;
  }
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
  }
}

.footerNav {
  display: flex;
  align-items: center;
  button {
    background: transparent;
    border: 0px;
    flex: 1 1 auto;
    width: 125px;
    height: 50px;
    align-items: center;
    justify-content: center;
    &.floatRight {
      margin-left: auto;
    }
  }
}
