@import "../../style/helpers.scss";
.top {
  width: 100%;
  max-width: 600px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 40px 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, lighten(#232627, 0.7) 90%, lighten(#232627, 0.4) 95%, #232627 100%);
  }
  @include lg {
    &:before {
      display: none;
    }
  }
}

.feelingsPanel {
  width: 100%;
  width: 100%;
  padding: 10px 30px 10px 30px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background: rgba(35, 38, 39, 0.95);
  position: relative;
  z-index: 99;
}