@import "../../style/helpers.scss";

.calHeader {
  header {
    font-family: "Source Sans Pro", sans-serif;
    padding: 20px 0px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #f77062;
    position: absolute;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    @include breakpoint(md) {
      padding: 40px 0px;
    }
    button {
      position: absolute;
      height: 100%;
      width: 40px;
      top: 0;
      background-color: #fff;
      background-image: url("../../assets/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      outline: none;
      &:focus,
      &:active {
        outline: 1px dashed #f77062;
      }
      &.left {
        left: 0;
        transform: rotate(180deg);
      }
      &.right {
        right: 0;
      }
    }
  }
}
