@import "../../style/helpers.scss";
.cal {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .headers {
    display: flex;
    flex-direction: row;
    width: 100%;
    li {
      height: 60px;
      display: flex;
      flex: 0 0 14.28%;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      text-transform: uppercase;
      color: #474b4e;
      max-width: 600px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      @include breakpoint(xs) {
        height: 40px;
        font-size: 12px;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    align-content: flex-start;
    min-height: 276px;
    @include breakpoint(sm) {
      min-height: 360px;
    }
    li {
      height: 46px;
      @include breakpoint(sm) {
        height: 60px;
      }
      display: flex;
      flex: 0 0 14.28%;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
