@import "../../style/helpers.scss";
.cal {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(7, 40px);
  justify-content: center;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding-top: 15px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
