.cal {
  padding-bottom: 30px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .headers {
    display: flex;
    flex-direction: row;
    width: 100%;
    li {
      height: 60px;
      display: flex;
      flex: 0 0 14.28%;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;
      color: #000;
      opacity: 0.9;
      font-size: 14px;
    }
  }
  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    min-height: 360px;
    li {
      height: 60px;
      display: flex;
      flex: 0 0 14.28%;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.feeling {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  /* Bg: */
  background: #ffffff;
  display: flex;
  flex-direction: row;
  height: 60px;
  border-radius: 2px;
  .day {
    font-size: 14px;
    color: #fff;
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #f77062 0%, #fe5196 100%);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .moji {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: row;
    li {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      button {
        width: 42px;
        height: 42px;
        border: none;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 32px;
        background-position: center;
      }
    }
  }
}
