@import "../../style/helpers.scss";
.cal {
  display: grid;
  background: #fff;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(7, 40px);
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  @include xs {
    grid-gap: 5px;
  }
  @include sm {
    grid-gap: 10px;
  }
  @include md {
    grid-gap: 15px;
  }
  @include lg {
    // TODO: make dynamic based on parent hieght
    padding: 105px 0px;
  }
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding-top: 15px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}